---
import Base from '../../layouts/BaseLayout.astro';
---
<Base title="Zeropoint Protocol">
  <h2>Licensing</h2>
  <ul>
    <li><a href="/license/LICENSE-OPEN-APACHE-2.0.txt">Apache-2.0</a></li>
    <li><a href="/license/LICENSE-ZP-WHITE-LABEL.md">ZP White-Label Summary</a></li>
  </ul>
</Base>
